VITE_API_BASE_URL=http://localhost:8000
VITE_AWS_REGION=eu-west-1
VITE_AWS_USER_POOL_ID=eu-west-1_example
VITE_AWS_USER_POOL_CLIENT_ID=exampleclientid
VITE_AWS_COGNITO_AUTHORITY=https://cognito-idp.eu-west-1.amazonaws.com/eu-west-1_example
VITE_AWS_COGNITO_DOMAIN=https://your-domain-prefix.auth.eu-west-1.amazoncognito.com
VITE_AWS_REDIRECT_URI=http://localhost:5173
VITE_AWS_LOGOUT_URI=http://localhost:5173
VITE_AWS_OIDC_SCOPE=openid email profile
